BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 120
SortIncludes: Never
PointerAlignment: Left
DerivePointerAlignment: false
AccessModifierOffset: -4
FixNamespaceComments: false
SortUsingDeclarations: Never
BreakStringLiterals: false
